<!-- Dans templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des inscriptions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Liste des inscriptions</h1>
        </header>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Âge</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in data %}
                    <tr>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>
                            <a href="{{ url_for('modification', user_id=user[0]) }}">Modifier</a>
                            <a href="{{ url_for('suppression', user_id=user[0]) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('inscription') }}">Ajouter un nouvel inscrit</a>
    </div>
</body>
</html>
